body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

h2 { margin: 0.5em 0; }
h3 { margin: 0.75em 0; }

header {
  width: -webkit-fill-available;
  height: 36px;

  display: flex;
  justify-content: space-evenly;

  background-color: aquamarine;
  
  -webkit-app-region: drag;
}

header > div {
  width: 350px;
  height: auto;

  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

header > div > * {
  color: black;
}

header > nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

header > nav > a {
  width: auto;
  height: -webkit-fill-available;

  display: flex;
  align-items: center;

  color: black;

  padding: 0 16px;

	-webkit-app-region: no-drag;
}

header > nav > a:hover {
  background-color: #0002;
}

header > nav > a:active {
  background-color: #0005;
}

input {
  margin: 0 4px;
}

a:hover.link {
	text-decoration: underline;

  cursor: pointer;
}

#input {
  width: calc(169px * 2);
}

.flex {
  display: flex;
  align-items: center;
  
  margin: 1em 0;
}

.flex > * {
  margin: 0 2px;
}

.flex-column > * {
  margin: 4px 8px;
}

.flex-column {
  display: flex;
  flex-direction: column;

  margin: 0.5em 0;
}